<section class="banner">
  <nav class="navbar">
    <img src="assets/logo.png" alt="Logo OLVA" class="logo-img">

    <button class="menu-toggle" aria-label="Abrir menú">
      ☰
    </button>

    <ul class="nav-links">
      <li><a href="#" class="nav-button active">Inicio</a></li>
      <li><a href="#" class="nav-button">Servicios</a></li>
      <li><a href="#" class="nav-button">Contacto</a></li>
      <li><a href="#" class="nav-button">Nosotros</a></li>
    </ul>
  </nav>

</section>



<div class="imagen-principal scroll-reveal visible">
  <img src="assets/central.jpg" alt="Imagen OLVA">
</div>



<section class="descripcion">
  <h2>¿Qué buscamos con este trabajo?</h2>
  <p>
    Este proyecto tiene como objetivo proponer una propuesta visual para la empresa CEIBA, destacando la sustentabilidad, sus servicios y su propuesta tomando el dominio más grande del Web. Su búsqueda representa gráficamente la estructura de una página en entorno moderno, multifácil y escalable.
  </p>
</section>

<section class="integrantes">
  <h3>Integrantes del equipo</h3>
  <div class="miembros">
    <div class="miembro">
      <img src="assets/Piero1.png" alt="Foto de Piero">
      <p>Piero Francesco Tenorio Medina</p>
    </div>
    <div class="miembro">
      <img src="assets/Ethan1.png" alt="Foto de Ethan">
      <p>Ethan Matías Aliaga Aguirre</p>
    </div>
    <div class="miembro">
      <img src="assets/Anyelo1.png" alt="Foto de Anyelo">
      <p>Anyelo Bill Alejos Jesus</p>
    </div>
    <div class="miembro">
      <img src="assets/Rojas1.png" alt="Foto de Víctor">
      <p>Víctor Manuel Rojas Reategui</p>
    </div>
  </div>
</section>






