<section class="banner">
  <nav class="navbar">
    <img src="../../../../../assets/logo.png" alt="Logo OLVA" class="logo-img">

    <button class="menu-toggle" aria-label="Abrir menú">
      ☰
    </button>

    <ul class="nav-links">
      <li><a href="#" class="nav-button active">Inicio</a></li>
      <li><a href="#" class="nav-button">Servicios</a></li>
      <li><a href="#" class="nav-button">Contacto</a></li>
      <li><a href="#" class="nav-button">Nosotros</a></li>
    </ul>
  </nav>

</section>
